<template lang="pug">
q-layout(view='lHh Lpr lFf')
  q-header(elevated)
    q-toolbar
      q-btn(flat dense round icon='menu' aria-label='Menu' @click='leftDrawerOpen = !leftDrawerOpen')
      q-toolbar-title
        i.fas.fa-sun.fa-2x.q-mr-md
        | Engenhos dos Essénios
      div 
        i.material-icons.md-24.q-mr-md toys
        | Engenho Novo v{{ $q.version }}
  q-drawer(v-model='leftDrawerOpen' show-if-above bordered content-class='bg-grey-1')
    q-list
      q-item-label.text-grey-8(header).
        
        Vínculos Ridículos
        
      EssentialLink(v-for='link in essentialLinks' :key='link.title' v-bind='link').
        
        
  q-page-container
    router-view.      
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksData = [
  {
    title: 'Docs',
    caption: 'Luckies Hit the Q-Zone',
    icon: 'school',
    link: '/'
  },
  {
    title: 'Quiddity',
    caption: 'Luckies Hit the Q-Zone',
    icon: 'code',
    link: '/quiddity'
  },
  {
    title: 'Quinacrines',
    caption: 'Luckies Hit the Q-Zone',
    icon: 'chat',
    link: 'quinacrines'
  },
  {
    title: 'Quinine',
    caption: 'Luckies Hit the Q-Zone',
    icon: 'record_voice_over',
    link: 'quinine'
  },
  {
    title: 'Quinquemia',
    caption: 'Luckies Hit the Q-Zone',
    icon: 'rss_feed',
    link: '/quinquemia'
  },
  {
    title: 'Quinsy',
    caption: 'Luckies Hit the Q-Zone',
    icon: 'public',
    link: '/quinsy'
  },
  {
    title: 'Quondam',
    caption: 'Luckies Hit the Q-Zone',
    icon: 'favorite',
    link: '/quondam'
  },
  {
    title: 'Quasar Awesome',
    caption: 'Community Quasar projects',
    icon: 'favorite',
    link: '/quidnunc'
  }

];

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    }
  }
}
</script>
